# Git aliases
alias ga='git add'
alias gp='git push'
alias grao='git remote add origin'
alias st='git status'
alias cm='git commit -m'
alias xb='git branch -d'
alias mb='git checkout main'
alias sb='git checkout'
alias nb='git checkout -b'
alias lb='git branch'

alias root='cd ~; echo "Navigated into the root directory."'
alias dev='cd ~/developer; echo "Navigated into the developer directory."'

# File aliases
alias .a='source ~/.aliases; echo "Sourced aliases."'
alias .ap='source ~/.aliases.private; echo "Sourced private aliases."'
alias .b='source ~/.bashrc; echo "Sourced .bashrc."'

ls() {
    echo
    gls -a --color=auto "$@"
    echo
}

mkcd() {
    mkdir -p "$1"
    cd "$1"
}

cpb() {
    cat "$1" | pbcopy
    echo 'Copied the contents of' $1 'to clipboard.'
}

# Neovim aliases
alias nv='nvim'
alias ea='nvim ~/.aliases'
alias eap='nvim ~/.aliases.private'
alias eb='nvim ~/.bashrc'

# Other aliases
alias python='python3'
alias pip='pip3'
alias prp='poetry run python'
