# Git aliases
alias ga='git add'
alias gp='git push'
alias grao='git remote add origin'
alias st='git status'
alias cm='git commit -m'
alias xb='git branch -d'
alias mb='git checkout main'
alias sb='git checkout'
alias nb='git checkout -b'
alias lb='git branch'

# Navigation aliases
alias rt='cd ~; echo "Navigated into the root directory."'
alias dfi='cd ~/Developer/dotfiles; echo "Navigated into the dotfiles directory."'
alias nvc='cd ~/.config/nvim; echo "Navigated into the neovim config directory."'
alias dv='cd ~/Developer; echo "Navigated into the developer directory."'
alias root='cd ~; echo "Navigated into the root directory."'
alias rfi='cd ~; echo "Navigated into the root directory."'

# File aliases
alias ls='echo; gls -a --color=auto; echo'
alias .a='source ~/.aliases; echo "Sourced aliases."'
alias .b='source ~/.bashrc; echo "Sourced .bashrc."'

mkcd() {
    mkdir -p "$1"
    cd "$1"
}

cpb() {
    cat "$1" | pbcopy
    echo 'Copied the contents of' $1 'to clipboard.'
}

# Neovim aliases
alias nv='nvim'
alias ea='nvim ~/.aliases'
alias eap='nvim ~/.aliases.private'
alias eb='nvim ~/.bashrc'
